body {
  background: #372f46;
  color: #221e5a;
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
}

div {
  display: block;
}

#hero {
  position: fixed;
  width: 100%;
  margin-top: 18%;
  opacity: 1;
  z-index: 1;
  font-weight: 400;
}

#hero a {
  color: #e7b045;
  text-decoration: none;
  padding-bottom: 20px;
  margin: 0 18px;
  transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  border-bottom: 3px solid #372f46;
}

#hero a:hover {
  border-bottom: 3px solid #e7b045;
  padding-bottom: 4px;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

#hero a.job-link {
  margin: 0 2px;
  color: #221e5a;
}

.type-wrap {
  font-family: 'trashhand';
  color: #e7b045;
  letter-spacing: -2px;
  font-size: 120px;
  padding-bottom: 25px;
  line-height: 0.8;
  font-weight: 400;
}
#love{
  clear: left;
  font-size:72px;
  color:#fff;
}
h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  line-height: 24px;
}

#hero h1 {
  font-size: 16px;
  color: #73648a;
  font-weight: 400;
}

#message-me {
  width: 70px;
  color: #FFF;
  background: #ef3e38;
  border-radius: 100px;
  padding: 15px;
  font-size: 14px;
  position: fixed;
  top: 10px !important;
  left: 75%;
  z-index: 200;
  cursor: pointer;
  -webkit-transition: all 120ms ease-in;
  -moz-transition: all 120ms ease-in;
  -o-transition: all 120ms ease-in;
  transition: all 120ms ease-in;
}

.border {
  position: fixed;
  z-index: 100;
  background: #FFF;
}

.border.top {
  top: 0px;
  margin-left: -20px;
}

.border.top,
.border.bottom {
  width: 105%;
  height: 20px;
}

.border.bottom {
  bottom: 0px;
}

.border.top,
.border.bottom {
  width: 105%;
  height: 20px;
}

.border.right {
  right: 0px;
}

.border.left,
.border.right {
  height: 105%;
  width: 20px;
}

.border.left,
.border.right {
  height: 105%;
  width: 20px;
}

.border.left {
  left: 0px;
  margin-top: -20px;
}